table{
    
    width: 100%;
    text-align: center;
    vertical-align: center;
    }   
td{
    border: 2px solid black;
    }
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
    }